@if (displayConfirmation)
{
    <div class="modal-backdrop show"></div>

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModal" aria-hidden="true" style="display: block">
        <div class="modal-dialog" role="document" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
            <div class="modal-content" style="width: 500px; height: 250px">
                <div class="modal-header" style="background-color: #a7a7a7">
                    <h5 class="modal-title"></h5>
                    <button @onclick="onCancel" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="background-color: #a7a7a7">
                    @ChildContent
                </div>
                <div class="modal-footer" style="background-color: #a7a7a7">
                    <button @onclick="onConfirm" type="button" class="btn btn-danger">Delete</button>
                    <button @onclick="onCancel" type="button" class="btn" style="background-color:darkslategray; color: white">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter] public string Title { get; set; } = "WARNING";
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback onConfirm { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }

    bool displayConfirmation = false;

    public void Show() => displayConfirmation = true;
    public void Hide() => displayConfirmation = false;

}
