@page "/"

<div class="wrapper">
    <div class="row">
        <div class="col text-center">
            <h1 style="color: white"><span style="color: greenyellow">Supermarket</span> Management System</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <h2 style="color: #cdcdcd">Retail managers are responsible for every aspect of the day-to-day supervision of retail outlets, including sales, staff,</h2>
            <h3 style="color: #cdcdcd">stock and resources. Retail management involves taking responsibility for the successful running of a store!</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <LoginDisplay />
        </div>
    </div>
</div>

